a{text-decoration: none}
.menu_btn{ display: inline-block; background: #b3d7ff; cursor: pointer; margin: 3px; padding: 2px; box-sizing: border-box;border-radius: 10%; color: ghostwhite;}
.menu_btn:hover{background: #0069d9; color: red; }