<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.sb.mapper.MenuMapper">
    <!--namespace = 만들어둔 인터페이스 경로 풀네임-->

    <select id="selectAll" resultType="com.app.sb.domain.MenuDTO">
        select * from sb_menu
    </select>

<!--    <select id="selectByOption" parameterType="com.app.sb.domain.MenuThemeOption" resultType="com.app.sb.domain.MenuDTO">
        select * from sb_menu
        <where>
            <if test="searchType != null and keyword !=null">
                <if test="searchType == 'theme'">
                    <include refid="searchTheme"/>
                </if>
            </if>
        </where>
    </select>

    <sql id="searchProduct">
        product like concat('%', #{keyword},'%')
    </sql>

    <select id="selectByMdxs" parameterType="list" resultType="com.app.sb.domain.MenuDTO">
        select * from sb_menu
        <where>
            <if test="list != null and list.size != 0">
                mdx IN
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")"> &lt;!&ndash;(10,20,30)  separator : 사이에 들어갈 요소&ndash;&gt;s
                    #{item}
                </foreach>
            </if>
        </where>
    </select>-->


<!--    <select id="selectByMdx" resultType="com.app.sb.domain.MenuDTO">
        select * from sb_menu where mdx=#{mdx}
    </select>-->

    <insert id="insertMenu" parameterType="com.app.sb.domain.MenuDTO">
        insert into sb_menu(mdx, theme, productko, producten, longexpln, shortexpln, size, kcal, transfat, protein, sodium, sugars, caffeine, allergy, mphoto)
        values(#{mdx}, #{theme}, #{productko}, #{producten}, #{longexpln}, #{shortexpln}, #{size}, #{kcal}, #{transfat},#{protein},#{sodium},#{sugars},#{caffeine}, #{allergy},#{mphoto} )
    </insert>

    <update id="updateMdx" parameterType="com.app.sb.domain.MenuDTO">
        update sb_menu set
        theme=#{theme}, productko=#{productko}, producten=#{producten} , longexpln=#{longexpln},
        shortexpln=#{shortexpln}, mphoto=#{mphoto}, size=#{size}, allergy=#{allergy}, kcal=#{kcal},
        transfat=#{transfat}, protein=#{protein}, sodium=#{sodium}, sugars=#{sugars}, caffeine=#{caffeine}
        where mdx=#{mdx}
    </update>

    <delete id="deleteMdx">
        delete from sb_menu where mdx=#{no}
    </delete>



</mapper>